##
# wordpress2:/asset/.htaccess
#
# @creation  2018-04-03
# @version   1.0
# @package   wordpress2
# @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
# @copyright Tomoaki Nagahara All right reserved.

# for Apache 2.2
Order deny,allow
Deny from all

# for Apache 2.4
Require all denied

<Files ~ "^app\.php$">
  # for Apache 2.2
  Allow from all

  # for Apache 2.4
  Require all granted
</Files>
