/**
 * app-webpack-css:/webpack/css/form.css
 *
 * @creation  2018-05-16
 * @version   1.0
 * @package   app-webpack-css
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

body.body form.OP input[type="text"],
body.body form.OP textarea,
body.body form.OP button,
body.body form.OP submit {
	border:  1px solid #ccc;
	margin:  0.1em 0;
	padding: 0.2em 0.4em;
	color:   #444;
}

body.body form.OP input[type="text"],
body.body form.OP textarea{
	width: 16em;
}

body.body form.OP textarea {
	height: 4.6em;
}

body.body form.OP select[multiple] option {
	padding: 0.1em 0.2em;
}

body.body form.OP input[type="radio"],
body.body form.OP input[type="checkbox"] {
	margin-right: 0.25em;
}

body.body form.OP label {
	margin-right: 0.5em;
}

body.body form.OP button,
body.body form.OP submit {
	border-radius: 0.2em;
	background-color: #e9e9e9;
}

body.body form.OP button:hover,
body.body form.OP submit:hover {
	border-color:     #999;
	background-color: #f0f0f0;
	color: #000;
}
